body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body{
    background-image: url(./img/code\ basketball.png);
    background-color: rgb(from red 23 34 5);
    

}

.scoreboard {  
    width: 100%; 
    height: 720px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
}
.twoTeams{
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    background-color: rgb(221, 207, 150);
    border: 5px solid rgba(255, 0, 0, 0.26);
    position: absolute;
    top: 25%;
    
}

.img{
width: 150px;
height: 120px;

}
.team { 
    height: 300px;
    font-size: 1rem; 
    padding: 3px;  
}


.dots {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px; 
}


.btn { 
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border-color:white;
    transition: 0.1s;  
}
.btn:hover{
    color:red; 
    font-size: 30px;
    cursor: pointer;
    padding: 10px;   
}
.btnScore{
    width: 100%;
    font-size: 100px;   
}

.reset {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.54);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 40px;
    transition: 0.1s;
    padding: 15px;  
}
.reset:hover{
    font-size: 20px;
    cursor: pointer;
}

.btnReset { 
   width: 100%;
}

